
#importSideBar{
  position: absolute;
  top: 10%;
  right: -20px;
  height: auto;
  z-index: 2;

  .box-wrapper{
    width: 300px;
    .overflow{
      max-height: 400px;
      overflow-y: scroll;
    }
  }
}
