@mixin action-attr{
  // width: 40px;
  // height: 40px;
  // text-align: center;
  // padding-top: 6px;
  padding: 5px 11px;
  transition: .3s;
  cursor: pointer;
}

.font-6{
  font-weight: 600;
}

.btn-light-blue{
  background: #F0F0F0;
  &:hover{
    background: #d9d9d9;
  }
}

.btn-gray{
  background: linear-gradient(to bottom, #ededed, transparent);
  color: #656565;
  font-weight: 500;
  border: 1px solid #e3e3e3;

  &:hover{
    background: linear-gradient(to top, #ededed, transparent);
  }
}

.text-green-h{
  &:hover{
    color: green !important;
  }
}
.text-red-h{
  &:hover{
    color: #dc3545 !important;
  }
}

.light-border{
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 15px;
  background: #f8f9fa;
}

.gray-border{
  border: 1px solid #d8dedf;
  border-radius: 5px;
  padding: 15px;
  background: #f8f9fa;
}


.action{
  &-delete{
    @include action-attr;
    &:hover{
      background: #e9ecef;
      border-radius: 100%;

    }
  }
  &-edit{
    @include action-attr
    &:hover{
      background: #e9ecef;
      border-radius: 100%;

    }
  }
}


.modal-content{
  margin-top: -200px;
}

.pointer{
  cursor: pointer;
}

.bg-light-blue{
  background: #f8f9fa !important;
}

.bg-white{
  background: #ffffff;
}

.bg-deep-light{
  background: #e9ecef;
}

.end-line{
  width: 100%;
  margin: 10px 0;
  .item-1,.item-3{
    width: 44%;
    border-bottom: 1px dashed #c4c4c4;
  }
  .item-2{
    width: 23px;
    height: 20px;
    margin: 5px;
    background: #e8e8e89c;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
  }
}


.scroll{
  &::-webkit-scrollbar{
    // display: none;
    width: 7px;
    &-thumb{
      background: #dbdbdbeb;
      border-radius: 10px;
    }
    &-track{
      background: #f1f1f1;
    }
  }
}
