@mixin action-attr{
  // width: 40px;
  // height: 40px;
  // text-align: center;
  // padding-top: 6px;
  padding: 5px 11px;
  transition: .3s;
  cursor: pointer;
}

.font-6{
  font-weight: 600;
}

.light-shadow{
  box-shadow: 0 0 4px 2px #f3f3f3;
}

.btn-light-blue{
  background: #F0F0F0;
  &:hover{
    background: #d9d9d9;
  }
}

.btn-gray{
  background: linear-gradient(to bottom, #ededed, transparent);
  color: #656565;
  font-weight: 500;
  border: 1px solid #e3e3e3;

  &:hover{
    background: linear-gradient(to top, #ededed, transparent);
  }
}

.bg-gray-h:hover{background: #ebecec !important;color: #000000 !important;}

.text-green-h{
  &:hover{
    color: green !important;
  }
}
.text-red-h{
  &:hover{
    color: #dc3545 !important;
  }
}
.text-gray-h{
  &:hover{
    color: gray !important;
  }
}

.light-border{
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 15px;
  background: #f8f9fa;
}

.gray-border{
  border: 1px solid #d8dedf;
  border-radius: 5px;
  padding: 15px;
  background: #f8f9fa;
}


.action{
  &-delete{
    @include action-attr;
    &:hover{
      background: #e9ecef;
      border-radius: 100%;

    }
  }
  &-edit{
    @include action-attr
    &:hover{
      background: #e9ecef;
      border-radius: 100%;

    }
  }
}


.modal-content{
  margin-top: -200px;
}

.pointer{
  cursor: pointer;
}

.bg-light-blue{
  background: #f8f9fa !important;
}

.bg-white{
  background: #ffffff;
}

.bg-deep-light{
  background: #e9ecef;
}

.end-line{
  width: 100%;
  margin: 10px 0;
  .item-1,.item-3{
    width: 44%;
    border-bottom: 1px dashed #c4c4c4;
  }
  .item-2{
    width: 23px;
    height: 20px;
    margin: 5px;
    background: #e8e8e89c;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
  }
}


.scroll{
  &::-webkit-scrollbar{
    // display: none;
    width: 7px;
    &-thumb{
      background: #dbdbdbeb;
      border-radius: 10px;
    }
    &-track{
      background: #f1f1f1;
    }
  }
}

.h-1{height: 100px;}
.min-h-1{min-height: 100px;}
.max-h-1{max-height: 100px;}

.h-2{height: 200px;}
.min-h-2{min-height: 200px;}
.max-h-2{max-height: 200px;}

.h-3{height: 300px;}
.min-h-3{min-height: 300px;}
.max-h-3{max-height: 300px;}

.h-4{height: 400px;}
.min-h-4{min-height: 400px;}
.max-h-4{max-height: 400px;}

.h-5{height: 500px;}
.min-h-5{min-height: 500px;}
.max-h-5{max-height: 500px;}


.clone-corner{
  width: 30px;
  height: 30px;
  position: relative;
  .clone{
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 700;
    color: #9c9c9c;
    cursor: pointer;
    &:hover{
      color: #000000;
    }
  }

  .body{
    position: absolute;
    min-width: 150px;
    max-width: 250px;
    top: 5px;
    right: 20px;
    padding: 5px 0px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 4px 1px #eeeeee;
    z-index: 1000;
    background: #fff;

    .item{
      color: #383838;
      font-weight: 500;
      padding: 3px 20px;
      text-align: center;
      cursor: pointer;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      &:hover{
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        background: #f5f5f5ed;
      }
    }
  }
}
