@mixin action-attr{
  // width: 40px;
  // height: 40px;
  // text-align: center;
  // padding-top: 6px;
  padding: 5px 11px;
  transition: .3s;
  cursor: pointer;
}

.light-border{
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 20px;
  background: #f8f9fa;
}


.action{
  &-delete{
    @include action-attr;
    &:hover{
      background: #e9ecef;
      border-radius: 100%;

    }
  }
  &-edit{
    @include action-attr
    &:hover{
      background: #e9ecef;
      border-radius: 100%;

    }
  }
}


.modal-content{
  margin-top: -200px;
}

.pointer{
  cursor: pointer;
}

.bg-light-blue{
  background: #f8f9fa !important;
}

.bg-white{
  background: #ffffff;
}

.end-line{
  width: 100%;
  margin: 10px 0;
  .item-1,.item-3{
    width: 44%;
    border-bottom: 1px dashed #c4c4c4;
  }
  .item-2{
    width: 23px;
    height: 20px;
    margin: 5px;
    background: #e8e8e89c;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
  }
}
